body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(225, 225, 225);
}

h1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 34, 34);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}

#display {
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color:rgb(34, 34, 34);
    text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
}

#controls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn {
    background-color: rgb(17, 204, 0);
}

#startBtn:hover {
    background-color: rgb(13, 153, 0);
}

#stopBtn {
    background-color: rgb(242, 51, 13);
}

#stopBtn:hover {
    background-color: rgb(194, 41, 10);
}

#resetBtn {
    background-color: rgb(61, 168, 245);
}

#resetBtn:hover {
    background-color: rgb(13, 147, 242);
}